body {
  font-family: "Sansita", sans-serif;
  color: rgb(133, 47, 190);
}

h1 {
  font-size: 46px;
  font-weight: bolder;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

.weatherAppWrapper {
  max-width: 800px;
  margin: 30px auto;
}

.weatherApp {
  padding: 20px;
  border: 2px dashed rgb(133, 47, 190);
  background: rgb(249, 245, 252);
  border-radius: 10px;
}

.day {
  font-weight: 100;
  margin-top: 35px;
}

.dayTemp {
  font-size: 46px;
  font-weight: 500;
}

.dayIcon {
  margin: 0px;
  padding: 0px;
}

.units {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: -20px;
}

.cityName {
  font-size: 30px;
}

.info1 {
  position: relative;
  top: -10px;
}
